<% include header%>

<section>
    <div class="container">
        <h2>Contact US</h2>
        <form id="contact-form" role="form" class="form-horizontal">
            <div class="messages"></div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="name"
                        placeholder="Enter name" name="name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email"
                        placeholder="Enter email" name="email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="comment">Comment:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="comment" required></textarea>
                </div>
            </div>
            <div align="center">
                <button type="submit" class="btn btn-success btn-send">Submit</button>
                <div class="modal fade" id="successModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Contact Us</h4>
                            </div>
                            <div class="modal-body">
                                <p>Thanks for reaching us!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<%  include footer %>