<footer>
    <div class="footer">
        <p>800 University Drive | Maryville, MO 64468</p>
        <div>
            <a href="https://github.com/" target="_blank"><i
                style="font-size: 24px; color: white" class="fa">&#xf09b;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a
                href="https://www.w3schools.com/icons/fontawesome_icons_brand.asp"
                target="_blank"><i style="font-size: 24px; color: white"
                class="fa">&#xf171;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
                href="https://www.linkedin.com/uas/login" target="_blank"><i
                style="font-size: 24px; color: white" class="fa">&#xf08c;</i></a>
        </div>
    </div>
</footer>
</body>
</html>