<% include header %>

            <section>
                    <div class="info">
                        <img id="image-circle" class="img-responsive img-circle" src="images/sai.jpg" alt="Avatar" >
                        <div>
                            <h1 >Sai krishna Upputuri:)</h1>
                            <div class="content">
                            <span>
                                <h3>Myself:</h3>
                                <p>I am pursuing masters in applied computer science at Northwest Missouri state university.</p>
                                <h3>Education:</h3>
                                <p>I accomplished my under graduate in Gitam University.</p>
                                <h3>Skills:</h3>
                                <p>I am good at doing css for web Application.</p>
                                <h3>Interests:</h3>
                                <p>I would like to play badminton and improve communication Skills.</p>
                            </span>
                            </div>
                        </div>
            
            
                    </div>
                    <div class="container">
            
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe
                                    src="https://youtube.com/embed/cB5Wq8TQKA8?autoplay=1" allowfullscreen></iframe>
                        </div>
                    </div>
            
                </section>
 
<% include footer %>