<% include header %>

<div>
    <h3>Please pick the date will let you know how many days left from current date:)</h3>
</div>
<div class="container">
    <p>Enter Date: <input type="text" id="datepicker"></p>
</div>
<div id="butsubmit">
    <button type="button" class="btn btn-success" id="submit">Submit</button>
</div>
<div class="result">
    <span></span>
</div>


<!-- <div class="tictactoe">
    <main class="wrapper">
            <h1>Tic-Tac-Toe Game</h1>
        <section id="board">
            <table>
                <tr>
                    <td class="cell" id="0"></td>
                    <td class="cell" id="1"></td>
                    <td class="cell" id="2"></td>
                </tr>
                <tr>
                    <td class="cell" id="3"></td>
                    <td class="cell" id="4"></td>
                    <td class="cell" id="5"></td>
                </tr>
                <tr>
                    <td class="cell" id="6"></td>
                    <td class="cell" id="7"></td>
                    <td class="cell" id="8"></td>
                </tr>
            </table>
        </section>
        <section class="endgame">
            <div class="text"></div><br>
            <button onClick="startGame()">Replay</button>
        </section>
    </main>
</div> -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="application/javascript" src="/js/PriceCalculation.js"></script>
<script type="application/javascript" src="/js/tictactoe.js" ></script>
<% include footer %>