#image-circle {
	border-radius: 50%;
	/*position: absolute;*/
	/*left: 5px;*/
	/*top: 70px;*/
	z-index: -1;
	width:8%;
}

@media (max-width: 766px) {
	#image-circle{
		width: 85px;
	}
}

.info{
	margin-bottom: 140px;
}

body {
	background-image:
		url("../images/chatambay.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1900px 850px;
}

iframe {
	position: absolute;
	right: 0px;
	bottom: 70px;
	z-index: -1;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0%;
	height: 9%;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	bottom: 0%;
}

#footerText {
	text-align: left;
	margin-left: 3%;
	padding-top: 9px;
}
.name-info{
	position: relative;
	left: 41%;
	top: 38px;
	width: 80%;
}
.content{
	margin-left :100px;
}